# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\pycharmprojects\django_image_classification_Rest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
